@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap');
$Font-Kumbh-Sans: 'Kumbh Sans', sans-serif;

//Primary
//Text
$Very-dark-desaturated-blue: hsl(238, 29%, 16%);
$Soft-red: hsl(14, 88%, 65%);

//Gradient
//Background gradient:
$Soft-violet: hsl(273, 75%, 66%);
$Soft-blue: hsl(240, 73%, 65%);

//Neutral
//Text
$Very-dark-grayish-blue: hsl(237, 12%, 33%);
$Dark-grayish-blue: hsl(240, 6%, 50%);

//Dividers
$Light-rayish-blue: hsl(240, 5%, 91%);